div {
    border-radius: 20px;
    width: 20%;
    height: 700px;
    background-color: white ;
}
body {
    background-color: lightgray;
}
img {
    width: 100%;
    height: 300px;
    border-radius: 20px 20px 0 0;
}
.drugi{
    margin-left: 25%;
    margin-top:  -700px;
}
.treci{
    margin-left: 50%;
    margin-top:  -700px;
}
p{
    padding: 10px;
}
h2{
    padding: 10px;
}
#twit{
    font-size: 30px;
    align-self: center;
    color: darkgrey;
    align-content: baseline;
}
hr{
    border: 1px solid gray;
    width: 90%;
    align-content: end;
    align-self: center;

}