div {
    background-color: white;
    width: 25%;
    height: 600px;
    margin-bottom: 20px;
    border-radius: 20px;
}
body {
    background-color: lightgrey;
}
img {
    width: 100%;
    height: 300px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}