img{
    width: 600px;
    padding: 5px;
    border: 5px solid white;
}
.Slika{
    margin-left: 40%;
    margin-top: 50px;
}
body{
    background-color: black;
}
h1{
    color: white;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
p{
    color: white;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
}
.text{
    margin-top: 20px;
    margin-left: 15%;
}