.back {
    background-color: #c12e33;
    width: 400px;
    height: 300px;
    position: absolute;
}

.top-black{
    width: 0px;
    height: 0px;
    border-top: 80px solid #323130;
    border-bottom: 80px solid transparent;
    border-left: 80px solid transparent;
    border-right: 80px solid transparent;
    left: 27%;
    position: relative;
}
.bot-black{
    width: 0px;
    height: 0px;
    border-top: 80px solid transparent;
    border-bottom: 80px solid #323130;
    border-left: 80px solid transparent;
    border-right: 80px solid transparent;
    left: 27%;
    top: -64%;
    position: relative;
}

.crveni-trok{
    position: relative;
    width: 0px;
    height: 0px;
    border-top: 65px solid #c12e33;
    border-bottom: 65px solid #c12e33;
    border-left: 60px solid transparent;
    border-right: 60px solid transparent;
    top: -106.7%;
    left: 32%;
}

.crni{
    width: 160px;
    height:172px;
    position: relative;
    background-color: #323130;
    top: -107.4%;
    left: 27%;
}

.crveni{

    width: 115.5px;
    height: 172px;
    position: relative;
    background-color: #c12e33;
    top: -165%;
    left: 130.3px;

}

.slika{
    height: 400px;
    position: absolute;
    left: 500px;
    top: 100px;
}

.Fang {
    top: 50px;
    left: 50px;
    width: 150px;
    position: relative;
    border-radius: 150px;
}

.whiteback{
    width: 500px;
    height: 300px;
    position: absolute;
    top: 600px;
    border: 10px solid black;
}

p{
    position: relative;
    top: -130px;
    left: 250px;
}
.fang{
    position: relative;
    top: -140px;
    left: 300px;
}