@media (max-width: 650px) {
    main {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4,1fr);
        display: grid;
        direction: column;
    }
    .crveni{
        width: 100vh;
        height: 25vh;
        background-color: lightcoral;
    }
    .narancasti{
        width: 100vh;
        height: 25vh;
        background-color: orange;
    }
    .zuti{
        width: 100vh;
        height: 25vh;
        background-color: lightyellow;
    }
    .zeleni{
        width: 100vh;
        height: 25vh;
        background-color: green;
    }
}
@media (min-width: 501px ) and (max-width: 900px) 
{
    main {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2,1fr);
    }
    .crveni{
        grid-column: 1;
        grid-row: 1;
        background-color: lightcoral;
    }
    .narancasti{
        grid-column: 2;
        grid-row: 1;
        background-color: orange;
    }
    .zuti{
        grid-column: 1;
        grid-row: 2;
        background-color: lightyellow;
    }
    .zeleni{
        grid-column: 2;
        grid-row: 2;
        background-color: green;
    }
}
@media (min-width: 901px) {
    main {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr;
    }
    .crveni {
        grid-column: 1;
        grid-row: 1;
        background-color: lightcoral;
    }
    .narancasti {
        grid-column: 2;
        grid-row: 1;
        background-color: orange;
    }
    .zuti {
        grid-column: 3;
        grid-row: 1;
        background-color: lightyellow;
    }
    .zeleni {
        grid-column: 4;
        grid-row: 1;
        background-color: green;
    }
}
